# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Operating System Files
.DS_Store
Thumbs.db
*.swp

# Project Specific
sell_buy/ui_price_model.pkl
*.log